<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
    <!-- page content -->
    <h1>This Is A Nice Starting Point For Your Django App</h1>
    <img src="{% static "logo.png" %}" alt="http://spencercooley.com"/>
    <img src="{% static "docker.png" %}" alt="http://docker.io"/>
    <img src="{% static "celery.png" %}" alt="http://docker.io"/>
  </body>
</html>
